* {
  box-sizing: border-box;
  /* Not sure if it is good practice to put more than box-sizing in this document selector, and if font-family and margin 0 should go here*/
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  /* to keep it on top, not sure why sticky messes with the blackish background*/
  position: fixed;
  /* for the blackish background of nav, need to search why not rgba */
  background-color: rgb(0 0 0 /0.4);
  font-size: 20px;
  /* had to had width to make the nav bar go all the way to the end, not sure if this is the correct way to achieve this result */
  width: 100%;
  padding: 10px;
}

a {
  /* to remove the underline of links */
  text-decoration: none;
  /* to remove the selected and visited color, should search more on that */
  color: white;
}

nav > ul {
  /* to delete list disc */
  list-style-type: none;

  /* to get the links one next to the other */
  display: flex;
  flex-direction: row;

  /* to center them */
  justify-content: space-evenly;

  /* add hover background color change for each link */
}

/* Search about the proper usage of middle and underscores */
.box {
  min-height: 100vh;
  padding-top: 1px;
  background-attachment: fixed;
  background-size: cover;
}
.box__texts {
  margin-top: 40vh;
  background-color: rgb(0 0 0 /0.4);
  color: aliceblue;
  padding: 1em 2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.box-0 {
  text-align: center;
  background-image: url(images/0.jpg);
}
.box-1 {
  background-image: url(images/1.jpg);
}
.box-2 {
  background-image: url(images/2.jpg);
}
.box-3 {
  background-image: url(images/3.jpg);
}
